APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:sUpRC+WU52oLHYGy5+Kgky2vwn26/RshKjNsKqv79pg=
APP_DEBUG=true
APP_URL=192.168.14.92
APP_TIMEZONE=Asia/Tashkent
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
SERVER_PORT=3334

DB_CONNECTION=sqlsrv

DB_HOST=192.168.14.14
DB_PORT=1433
DB_DATABASE=dashboardAC

DB_USERNAME=soliyev_a
DB_PASSWORD=zzzz1111*

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
MEMCACHED_HOST=127.0.0.1


BASE_PARK=1
BASE_SMENA_DAY=09:10
BASE_SMENA_NIGHT=21:10

SMENA_DAY_JOB=09:40
SMENA_NIGHT_JOB=21:40
CAREER_ID=1

DUMPTRUCKS=7381,10622,8147
WATERTRUCKS=10054

BASE_UAT=уат,азс
BASE_OIL=заправочный,ркс
BASE_SMENA=пересменка
BASE_GEOZONES_GROUP_ID=7

BASE_ACTIVE=отвал,склад,дсу
# BASE_REMONT=ркс
# BASE_DPP=ркс
GUSAKS_GROUPID=11

BASE_EXCAVATORS=true
BASE_TOS=true



PISTALI_FRONTALS=
PISTALI_MANS=
FRONTEND_PISTALI_MANS=
FRONTEND_PISTALI_FRONTALS=



EXCAVATORPAGE=http://192.168.14.23:3020
API_LINK=http://192.168.14.23:4000/api
# API_LINK=http://127.0.0.1:4000/api
BASE_ONLY_MYIP=192.168.14.29,192.168.14.70
TRUCK_GRAPHIC=http://192.168.14.23:4001