<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Laravel Fix" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <!-- Не перенаправлять, если файл или папка существуют -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <!-- MIME-тип для .json уже может быть зарегистрирован глобально -->
            <!-- Убедитесь, что этот MIME-тип не дублируется в других конфигурациях -->
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>