<?php


use Illuminate\Support\Facades\Schema;
use App\Helpers\Smena;
use Carbon\Carbon;
use DB;
class Configure
{


   public $configurator = [
      [
         'trucks' => [7381],
         'excavators' => [
            ['group_id' => 4076, 'zone' => 2, 'radius' => 60],
            ['group_id' => 10013, 'zone' => 3, 'radius' => 60]
         ],
         'maingeozone' => 1
      ],
      [
         'trucks' => [10054],
         'excavators' => [],
         'maingeozone' => 5
      ]
   ];


   public function customMethod()
   {

      function writeToDb($transports, $tablename)
      {
         // ReportStaysMekhanizmsLastCordinate
         // formatter
         $smena = new Smena();
         $excavatorGeozone = collect($transports)->filter(function ($item) {
            return mb_stripos(mb_strtolower($item['geozone']), mb_strtolower(env('BASE_MURUNTAU_TEXT'))) !== false;
         })->all();
         $array = [];

         foreach ($excavatorGeozone as $key => $value) {
            $daySettings = $smena->currentDaySmena(Carbon::parse($value['time_message']));
            $array[$key] = [
               'objectID' => $value['transport_id'],
               'position' => $value['geozone'],
               'smenaDate' => $daySettings['day'],
               'smena' => $daySettings['smena'],
               'idPodrazd' => 1,
               'created' => $value['time_message'],
            ];
         }
         // formatter

         $models = array_values($array);

         if (Schema::connection('muruntau')->hasTable($tablename)) {
            DB::connection('muruntau')->table($tablename)->delete();
            DB::connection('muruntau')->table($tablename)->insert($models);
         }
      }


      if (empty(env('DB_DATABASE_ONLINE'))) return;


      writeToDb($this->dumpTrucksPosition(75), 'ReportStaysMekhanizmsLastCordinate');
      writeToDb($this->dumpTrucksPosition(75), 'ReportStaysMekhanizmsLastCordinate50');
      writeToDb($this->dumpTrucksPosition(75), 'ReportStaysMekhanizmsLastCordinate75');
   }


   public function customExcavatorPoints()
   {
      return collect([
         [
            'speed' => 0,
            'y' => 41.503154,
            'x' => 64.587814,
            'time_message' => now()->format('Y-m-d H:i:s'),
            'name' => 'РМ Экскаватор C | КННК (руда)',
            'transport_id' => 1,
            'created_at' => now()->format('Y-m-d H:i:s'),
         ],
         [
            'speed' => 0,
            'y' => 41.507430,
            'x' => 64.562078,
            'time_message' => now()->format('Y-m-d H:i:s'),
            'name' => 'РМ Экскаватор А | ЦПТ «Северный» (вскрыша)',
            'transport_id' => 2,
            'created_at' => now()->format('Y-m-d H:i:s'),
         ],
         [
            'speed' => 0,
            'y' => 41.481487,
            'x' => 64.584909,
            'time_message' => now()->format('Y-m-d H:i:s'),
            'name' => 'РМ Экскаватор В1 |ЦПТ «Южный» (вскрыша)',
            'transport_id' => 3,
            'created_at' => now()->format('Y-m-d H:i:s'),
         ],
         [
            'speed' => 0,
            'y' => 41.478547,
            'x' => 64.584184,
            'time_message' => now()->format('Y-m-d H:i:s'),
            'name' => 'РМ Экскаватор В2 |ЦПТ «Южный» (вскрыша)',
            'transport_id' => 4,
            'created_at' => now()->format('Y-m-d H:i:s'),
         ],
      ]);
   }
}