@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-item {
   @apply w-full h-full bg-zinc-900 !flex flex-col rounded-sm  text-gray-300 py-1.5;
}

.technical {
   @apply xl:border-2 border flex border-gray-400 text-gray-300 font-semibold 2xl:py-1 xl:py-0.5 2xl:px-2 xl:px-1 px-0.5 py-0.5 shadow rounded 2xl:text-sm xl:text-xs lg:text-[11px] text-[9px];
}

.neomorph {
   box-shadow:
      3px 3px 7px #0a0a0b,
      -1px -1px 2px #555555;
}

.inner-shadow {
   box-shadow:
      inset 5px 5px 10px #0a0a0b,
      inset -5px -5px 10px #26262b;
}

.inner-shadow-second {
   box-shadow:
      inset 5px 5px 7px #0e0e10,
      inset -5px -5px 7px #222226;
}

.highcharts-credits {
   display: none;
}

.gradient-text {
   background: -webkit-linear-gradient(right, #01b0b0, #0198f7);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

/* 1. declare transition */
.fade-move,
.fade-enter-active,
.fade-leave-active {
   transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-enter-from,
.fade-leave-to {
   opacity: 0;
   transform: scale(0.4) translate(30px, 30px);
}

.v-move,
.v-enter-active,
.v-leave-active {
   transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.v-enter-from,
.v-leave-to {
   opacity: 0;
}

.swiper-slide-shadow {
   background: none !important;
}

/* Works on Chrome, Edge, and Safari */
.scroll::-webkit-scrollbar {
   width: 2px;
}

.scroll::-webkit-scrollbar-track {
   background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
   background-color: #333;
   border-radius: 10px;
}

:root {
   /*General*/
   --dp-font-family:
      -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu,
      cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   --dp-border-radius: 4px;
   /*Configurable border-radius*/
   --dp-cell-border-radius: 4px;
   /*Specific border radius for the calendar cell*/
   --dp-common-transition: all 0.1s ease-in;
   /*Generic transition applied on buttons and calendar cells*/

   /*Sizing*/
   --dp-button-height: 35px;
   /*Size for buttons in overlays*/
   --dp-month-year-row-height: 35px;
   /*Height of the month-year select row*/
   --dp-month-year-row-button-size: 35px;
   /*Specific height for the next/previous buttons*/
   --dp-button-icon-height: 20px;
   /*Icon sizing in buttons*/
   --dp-cell-size: 35px;
   /*Width and height of calendar cell*/
   --dp-cell-padding: 5px;
   /*Padding in the cell*/
   --dp-common-padding: 10px;
   /*Common padding used*/
   --dp-input-icon-padding: 35px;
   /*Padding on the left side of the input if icon is present*/
   --dp-input-padding: 5px 20px 5px 5px;
   /*Padding in the input*/
   --dp-menu-min-width: 260px;
   /*Adjust the min width of the menu*/
   --dp-action-buttons-padding: 2px 5px;
   /*Adjust padding for the action buttons in action row*/
   --dp-row-margin: 5px 0;
   /*Adjust the spacing between rows in the calendar*/
   --dp-calendar-header-cell-padding: 0.5rem;
   /*Adjust padding in calendar header cells*/
   --dp-two-calendars-spacing: 10px;
   /*Space between multiple calendars*/
   --dp-overlay-col-padding: 3px;
   /*Padding in the overlay column*/
   --dp-time-inc-dec-button-size: 32px;
   /*Sizing for arrow buttons in the time picker*/
   --dp-menu-padding: 6px 8px;
   /*Menu padding*/

   /*Font sizes*/
   --dp-font-size: 1rem;
   /*Default font-size*/
   --dp-preview-font-size: 0.8rem;
   /*Font size of the date preview in the action row*/
   --dp-time-font-size: 0.8rem;
   /*Font size in the time picker*/

   /*Transitions*/
   --dp-animation-duration: 0.1s;
   /*Transition duration*/
   --dp-menu-appear-transition-timing: cubic-bezier(0.4, 0, 1, 1);
   /*Timing on menu appear animation*/
   --dp-transition-timing: ease-out;
   /*Timing on slide animations*/

   --dp-input-padding: 5px 30px 5px 5px;
}

.loader {
   width: 48px;
   height: 48px;
   border: 3px solid #fff;
   border-radius: 50%;
   display: inline-block;
   position: relative;
   box-sizing: border-box;
   animation: rotation 1s linear infinite;
}

.loader::after {
   content: "";
   box-sizing: border-box;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 3px solid transparent;
   border-bottom-color: #ff3d00;
}

@keyframes rotation {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

.mini-loader {
   width: 24px;
   height: 24px;
   border-radius: 50%;
   position: relative;
   animation: rotate 1s linear infinite;
}

.mini-loader::before {
   content: "";
   box-sizing: border-box;
   position: absolute;
   inset: 0px;
   border-radius: 50%;
   border: 3px solid #fff;
   animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes prixClipFix {
   0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
   }

   25% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
   }

   50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
   }

   75% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
   }

   100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
   }
}

.dp__input_wrap {
   height: 27px;
}

.dp__input {
   height: 27px;
}

@media (min-width: 1280px) {
   .dp__input_wrap {
      height: 36px;
   }

   .dp__input {
      height: 36px;
   }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
